<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    
    <!-- definir a dependência -->
    <bean id="myFortuneService" class="com.qintess.springdemo.HappyFortuneService">   	
    </bean>
    
    
    <bean id="myCoach" class="com.qintess.springdemo.TrackCoach">
    
    
    	<!-- configurar injeção de construtor -->
    	<constructor-arg ref="myFortuneService"></constructor-arg>
    </bean>
    
    <bean id="myCricketCoach" class="com.qintess.springdemo.CricketCoach">
    	
    	<!-- configurar injeção do setter -->
    	<property name="fortuneService" ref="myFortuneService"></property>
    
    </bean>
    
</beans>